# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Generated
pubspec.lock

# OS
.DS_Store
Thumbs.db
